.nav {
    grid-area: nav;
    background-color: rgb(45, 217, 62);
    padding: 20px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: rgb(195, 8, 8);
    font-weight: bold;
    text-decoration: none;
}